body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #224d70 !important;
}

a {
  color: #224d70 !important;
  transition: all 0.3s ease-in;
}

a:hover {
  color: #224d70;
  opacity: 0.8;
}

ion-icon {
  color: #224d70;
  font-size: 750% !important;
}

.btn {
  background-color: #224d70 !important;
  border: none !important;
  color: #fff !important;
  transition: all 0.2s ease-in !important;
}

.btn:hover {
  opacity: 0.9;
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
  text-align: center;
}

#loginForm input[type="email"]::placeholder,
#loginForm input[type="password"]::placeholder {
  text-align: center;
  opacity: 0.7;
}
